@tailwind base;
@tailwind components;
@tailwind utilities;

.form-control {
  /* border: none; */
  background-color: rgba(230, 230, 230, 0.5);
  padding-top: 12px;
  padding-bottom: 12px;
}

.form-control:focus {
  background-color: rgba(230, 230, 230, 0.5);
}
